# dependencies
node_modules

# turbo
.turbo
.cache

# builds
dist
build
out

# vite specific
apps/frontend/dist
apps/frontend/.vite

# env files
.env
.env.local
.env.dev
.env.prod
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# os
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo